In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_datareader as pdr
import time
from datetime import date

In [12]:
dl_yf = yf.download(tickers = ["^HSI", "CVX"],
                    period = "max",
                    interval = "1d")

[*********************100%***********************]  2 of 2 completed

In [13]:
dl_yf.Close

Ticker             CVX          ^HSI
Date
1962-01-02    0.321829           NaN
1962-01-03    0.321103           NaN
1962-01-04    0.318197           NaN
1962-01-05    0.310205           NaN
1962-01-08    0.308752           NaN
...                ...           ...
2025-03-24  165.020004  23905.560547
2025-03-25  165.940002  23344.250000
2025-03-26  167.970001  23483.320312
2025-03-27  166.649994  23578.800781
2025-03-28  166.089996  23426.599609

[16148 rows x 2 columns]